<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- prettier-ignore -->
        {%- if page.url == "/" %}
        {%- assign is_front_page = true %}
        {%- else %}
        {%- assign is_front_page = false %}
        {%- endif %}

        {%- if is_front_page %}
        {%- assign title = "Tas Game Makers" %}
        {%- else -%}
        {%- assign title = title | append: " - Tas Game Makers" -%}
        {%- endif -%}

        {%- assign description = "Tas Game Makers: supporting Tasmanian creatives. We're inclusive, creative, passionate about making games, and proudly Tasmanian." %}

        {%- assign social_media_image = "/assets/static/images/TasGM.5672c3cf15cf.png" %}

        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <meta name="description" content="{{description}}" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
        />

        <!-- facebook -->
        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{description}}" />
        <meta property="og:image" content="{{social_media_image}}" />
        <meta property="og:url" content="https://tasgamemakers.com" />
        <meta property="og:site_name" content="Tas Game Makers" />

        <!-- twitter -->
        <meta name="twitter:image:alt" content="Tas Game Makers logo" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{title}}" />
        <meta name="twitter:description" content="{{description}}" />
        <meta name="twitter:image" content="{{social_media_image}}" />

        <link
            rel="stylesheet"
            type="text/css"
            href="/assets/static/css/mysite.a5a240d3b790.css"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/static/images/TasGM_Logo_32x32.4887edce5135.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/static/images/favicon-16x16.23d3df4cbebd.png"
        />
        <!-- FIXME convert to local asset -->
        <link
            href="https://fonts.googleapis.com/css?family=Poppins:500,500i,600,600i,700,700i&display=swap"
            rel="stylesheet"
        />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=UA-149359508-1"
        ></script>

        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "UA-149359508-1");
        </script>
    </head>

    <body>
        <header class="header" role="banner">
            <div class="header--container">
                <div class="header--content">
                    <div data-nav-trigger class="header--menu">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="header--hidden">Open menu</span>
                    </div>
                    <nav data-nav-target class="header--nav" role="navigation">
                        <a class="header--nav-close" data-nav-close href="#"
                            >X</a
                        >
                        <div class="header--nav-container">
                            <a class="header--link" href="/events/">Events</a>

                            <a class="header--link" href="/membership/"
                                >Membership</a
                            >

                            <a class="header--link" href="/code-of-conduct/">
                                Code of Conduct
                            </a>

                            <a class="header--link" href="/about-us/"
                                >About us</a
                            >
                        </div>
                    </nav>
                </div>

                <a href="/" class="header--logo">
                    <h1 class="header--hidden">Tas Game Makers</h1>
                    <span class="header--hidden">Home</span>
                    <img
                        aria-hidden="true"
                        class="header--logo-img"
                        src="/assets/static/images/logo-header.448e2a9cd8b0.png"
                        alt="Tas Game Makers logo"
                    />
                </a>
            </div>
        </header>

        {%- if is_front_page %}
        <main id="main" class="main" role="main">{{content}}</main>
        {%- else -%}
        <main id="main" class="main main__dark" role="main">{{content}}</main>
        {%- endif -%}

        <script
            type="text/javascript"
            src="/assets/static/js/mysite.90fdc5a80c4a.js"
        ></script>

        {%- if script %}
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <script
            type="text/javascript"
            src="/assets/static/js/{{script}}"
        ></script>
        {%- endif -%}
    </body>

    <footer class="footer" role="contentinfo">
        <div class="footer--content">
            <div class="footer--container">
                <div class="footer--column footer--column__left">
                    <div class="footer--socials">
                        <a
                            class="footer--link"
                            href="mailto:hello@tasgamemakers.com"
                        >
                            <image
                                src="/assets/static/images/email.d1be5058dd1e.svg"
                            />
                            <span>Email us</span>
                        </a>

                        <a
                            class="footer--link"
                            href="https://www.facebook.com/groups/tasgm/"
                        >
                            <image
                                src="/assets/static/images/facebook.7dc2e744ce33.svg"
                            />
                            <span>Facebook</span>
                        </a>

                        <a
                            class="footer--link"
                            href="https://discord.gg/zm5vxX4"
                        >
                            <image
                                src="/assets/static/images/discord-round.5e43f10afcb5.svg"
                            />
                            <span>Discord</span>
                        </a>

                        <a
                            class="footer--link"
                            href="https://twitter.com/tasgamemakers"
                        >
                            <image
                                src="/assets/static/images/twitter.3763bb7891ed.svg"
                            />
                            <span>Twitter</span>
                        </a>
                    </div>
                </div>
                <div class="footer--column footer--column__right">
                    <a class="footer--logo" href="/">
                        <image
                            src="/assets/static/images/TasGM_Logo.b5c1905a0fd2.svg"
                        />
                    </a>
                </div>
            </div>
        </div>
    </footer>
</html>
